* {
    margin: 0;
    padding: 0;
}
body{
    display: grid;
}
.container {
    min-height: 928px;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-columns: 1.5fr 3fr 1fr;
    background-color: #f0f9ff;
    gap: 15px;
}

#dash {
    height: 50px;
    width: 50px;
}

.dashboard {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    display: grid;
    grid-template-columns: 1fr 3fr;
   font-size: 32px;
    position: relative;
    margin-right: auto;
    margin-left: -25%;
    gap: 10px;
    align-items: center;
    margin-top: 10%;


}
.dashboard, img{
    height: 25px;
    width:25px;
}
.sidebar {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr  2fr 1fr 1fr;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    justify-content: center;
    padding:5%;
}

.sidebar>div {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2.5fr;
    gap:10px;
}


.header {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    grid-template-columns: 1fr 4fr 1fr 1.5fr 1fr;
    align-items: center;
    height:80%;
    box-shadow: 2px 2px 30px lightgrey;
    border-radius: 15px;
}
#search {
    justify-self:end;
    height: 15px;
    width:15px;
    padding:10%;
}
input {
    height: 30px;
    border-radius: 15px;
    background-color: #bae6fd;
    border: none;
}

#profile {
    justify-self:end;
    height:40px;
    width:40px;
    margin: -1%;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.projects {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3; 
    grid-template-rows: 1fr 6fr;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:500;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
}

.cards>div {
    background-color:#7dd3fc ;
    box-shadow: -5px 7px 10px lightgrey ;
    border-radius: 10px
}
#SignUpForm {
    background-image: url(icons/techny-contract-signing.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}
#signUpForm:hover {
    transform: scale(1.3);
    filter: brightness(50%);
    transition: 0.5s;
}

#formHover {
    font-size: 35px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(48, 48, 132); 
    opacity: 0.7;
    display: grid; 
    text-align: center;
    visibility: hidden;
}

.projects>div>div>div:hover {
    font-size: 40px;
    visibility: visible;
    filter: brightness(120%);
    transition: 0.5s;
}


#Etch-a-sketch {
    background-image: url(icons/clip-web-design.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}

#calculator {
    background-image: url(icons/urban-867.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}


#rockPaperScissors {
    background-image: url(icons//clip-hand-with-scissors.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}

#LandingPg {
    background-image: url(icons/buddy-38.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}

#OdinRecipes {
    background-image: url(icons/bloom-online-cooking-lesson.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}

.announcements{
    justify-content: center;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    grid-template-rows: 1fr 8fr;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #075985;
    color: white;
    font-size: 25px;
    position: sticky;
    border-radius: 15px;
    box-shadow:-5px 7px 10px lightgrey;
}

.thr_announcements {
    background-color: #075985;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.thr_announcements>div {
    padding-bottom: 20px;
    border-bottom: white solid 1px;
    font-size: 17px;
}

.thr_announcements>#one {
    border-top:white solid 01px;
    padding-top: 20px;
    margin-top: -15px;
}



.announceOne,
.announceTwo,
.announceThree {
    font-size: 11px;
}

.stats {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: #075985;
    border-radius: 15px;
    box-shadow: -5px 7px 10px lightgrey ;
    background-image: url(icons/3d-casual-life-chart-and-statistics.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.stats>h1 {
    font-size: 90px;
    text-align: right;
    align-items: end; 
    color: #bae6fd;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

.stats>p{
    display: grid;
    align-self: start;
    font-size: 20px;
    color: #bae6fd;
    display: grid;
    text-align: right;
    padding: 25px;
}

a {
    color: #bae6fd;
}

.top_performance {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    background-color: #7dd3fc;
    border-radius: 15px;
    box-shadow: -5px 7px 10px lightgrey ;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 1fr 4fr;   
}

.top_performance>p {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 25px;
    justify-self: center; 
    align-content: center;
    color:  rgb(48, 48, 132);
}

.top_performance>.profilePics {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: center ;
   
}

.top_performance>.userNames  {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: start;
    padding-right: 10px;
    color:  rgb(48, 48, 132);
}

#usernameOne>p,
#usernameTwo>p,
#usernameThree>p,
#usernameFour>p {
    font-size: 12px;
}

.userNames>div>h3 {
    font-size: 15px;
}

.profilePics>div>img {
    height: 32px;
    width: 32px;
}